*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Raleway", sans-serif;
}
.navbar{
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    
    }
    .navbar-s1__title{
      color:#23996E ;  
    }
    .navbar-s2{
        padding: 10px;
        border: solid black 1px;
        border-radius: 30px;
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .navbar-s2 input{
        border: none;
        width: 100%;
        font-size: 16px;
        background-color: transparent;
       
    }
    .navbar-s2 input:focus{
        outline: none;
    }
    .navbar-s3{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        cursor: pointer;
    }
    .box{
     display: flex;
     gap: 5px;
     border: solid black 1px;
     box-sizing: content-box;
     height: fit-content;
     font-size: 20px;
}
.box:hover{
    background-color: #23996E;
    color: white;
    animation: 1s;
}
.navbar-s3__signin{
    height: 50%;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #23996E;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.navbar-s3__signin:hover{
    background-color: black;
    color:white;
    transition: 1s;
}
/* signin popup */
.navbar-s3__signin{
    position: relative;
}
.navbar-s3__signinpopup{
    position: absolute;
    background-color: transparent;
    color: black;
    width: 100px;
    top: 30px;
    right: 10px;
    display: none;
    }
    .navbar-s3__signin:hover .navbar-s3__signinpopup{
        display: block;
    }

.catageries{
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;
    padding: 10px;

}
.catageries p{
    background-color: #23996E;
    color: white;
    padding:5px;
    border-style: ridge;
    cursor: pointer;
}
.catageries p:hover{
    transition: 1s;
    background-color: transparent;
    color: #23996E;

}
.saleimage{
    position: relative;
    
}
.saleimage-offer{
    width: 35%;
    border-style: groove;
    border-radius: 30px;
    background-color: #23996E;
    color: white;
    position: absolute;
    left: 500px;
    bottom: 250px;
    right: 500px;
    padding: 2%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;

    
}
@keyframes zoom {
    0%{
      transform: scale(0);
      opacity: 0;
      
    }
    100%{
      transform: scale(1);
      opacity: 1;
    }
}


.saleimage img{
    width: 1300px;
    height: 500px;;
    display: block;
    }
    .recomended{
        margin-top: 30px;
        width: 100%;
    }
    .recomended p{
        padding: 10px;
    }
.recomended-place{
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;
}
.recomended-place img{
    width: 100%;
    cursor: pointer;
}
.recomended-place h3{
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 25px;
    padding: 0px;
}
.ratings{
    width: 100%;
    margin: 10px;
}
.ratings-place{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.ratings-place img{
    width: 100%;
}
.culinary{
    
    width: 100%;
    margin: 10px;
}
.culinary-place{
    margin-top: 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    position: relative;
}
.culinary img{
    width: 100%;
}
.culinary-place__heart{
    position: relative;
    left: 230px;
    bottom: 300px;
    cursor: pointer;
    }
    .footer{
        background-color: bisque;
        padding: 30px;
        color: black;
        width: 100%;
    }
    .footer p{
        margin: 20px;
    }
    .footer-one{
        display: flex;
        gap: 50px;
    }
    .footer-two{
        display: flex;
        justify-content: space-between;
        }
        .footer-two img{
            width: 20%;
        }
    .footer__app{
        padding: 10px;
    }
    

    /* media queries */
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}
@media  screen and (max-width:600px) {
    
    .catageries{
        display: none;
    }
    .navbar-s3{
        display: none;
    }
    
}




   


        
    
    
